<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dou361.live"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:name="com.dou361.live.ui.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SlidAppTheme">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenAppTheme"/>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".ui.activity.PlayerLiveActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenAppTheme"/>

        <activity
            android:name=".ui.activity.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.PersonDataActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.StartLiveActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenAppTheme"/>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.MessageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="easemob-demo#livedemo"/>
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"/>
    </application>

</manifest>